In [1]:
# Dependencies
from bs4 import BeautifulSoup
from urllib.parse import urlparse
import urllib.request
import requests
import pandas as pd
import time
import re
import json
import matplotlib.pyplot as plt
import numpy as np
import time
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
import warnings

In [2]:
# DataFrame Set Up

header = ['Owner',
'Address 1',
'Address 2',
#'Street No.',
#'Street',
'City',
'State',
#'Zip',
'Full Address',
'2021 Building Value',
'2020 Building Value',
'2019 Building Value',
'2018 Building Value',
'2017 Building Value',
'2016 Building Value',
'2021 Land Value',
'2020 Land Value',
'2019 Land Value',
'2018 Land Value',
'2017 Land Value',
'2016 Land Value',
'2021 Total Value',
'2020 Total Value',
'2019 Total Value',
'2018 Total Value',
'2017 Total Value',
'2016 Total Value',
'Land (Acre)',
'Land (SQFT)',
'Est Tax',
'Improvement 1',
'Size 1',
'Improvement 2',
'Size 2',
'Improvement 3',
'Size 3',
'Improvement 4',
'Size 4',
'Improvement 5',
'Size 5',
'Improvement 6',
'Size 6',
'Improvement 7',
'Size 7',
'Improvement 8',
'Size 8',
'Improvement 9',
'Size 9',
'Improvement 10',
'Size 10'
#'Total Building SQFT',
#'Price/SQFT'   
]

rows=[]

for x in range(10000,20000):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R0000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for x in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        x=1
home_data = pd.DataFrame(data=rows,columns=header)

home_data.head(50)

home_data.to_csv('home_data10.20.csv',index=False,header=True)
print('File_Saved')

## 0-10 Scrape

rows=[]

for x in range(1,9):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R00000000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for x in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        x=1
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data001.009.csv',index=False,header=True)
print('File_Saved')

## 10-99 Scrape

rows=[]

for x in range(10,99):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R0000000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for x in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        x=1
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data0019.0099.csv',index=False,header=True)
print('File_Saved')

## 100-999 Scrape

In [3]:
rows=[]

for x in range(100,999):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R000000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for y in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        z=1
    
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data001001.009991.csv',index=False,header=True)
print('File_Saved')

Loop Complete
File_Saved

## 1000-9999 Scrape

In [4]:
rows=[]

for x in range(1000,9999):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R00000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for y in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        z=1
    
    
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data001000.009999.csv',index=False,header=True)
print('File_Saved')

Loop Complete
File_Saved

## 20,000-30,000 Scrape

In [5]:
rows=[]

for x in range(20000,30000):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R0000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for y in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        z=1
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data20.30.csv',index=False,header=True)
print('File_Saved')

Loop Complete
File_Saved

## 30,000-40,000 Scrape

In [6]:
rows=[]

for x in range(30000,40000):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R0000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for y in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        z=1
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data30.40.csv',index=False,header=True)
print('File_Saved')

Loop Complete
File_Saved

## 40,000-50,000 Scrape

In [7]:
rows=[]

for x in range(40000,50000):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R0000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for y in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        z=1
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data40.50.csv',index=False,header=True)
print('File_Saved')

Loop Complete
File_Saved

## 50,000-60,000 Scrape

In [8]:
rows=[]

for x in range(50000,60000):
    
    # URL Address
    bas_url = 'https://iswdataclient.azurewebsites.net/webProperty.aspx?dbkey=midlandcad&stype=id&sdata='
    tail_url = '&time=202201082009036&id=' 
    prop_id = 'R0000'+str(x)
    url = bas_url+prop_id+tail_url+prop_id
    
    #Try/Except for Whole Loop incase Tables Not Found
    
    try:
        html = requests.get(url)
        soup = BeautifulSoup(html.text,'lxml')

        row = []

        # HTML Tables 
        table = soup.find_all('tbody')
        table_address = table[1]
        table_legal = table[4]
        table_val = table[5]
        table_sqft = table[6]
        table_land = table[7]
        table_tax = table[9]

        # Data List

        acre_list = table_land.find_all('td')
        tax_row_list = table_tax.find_all('tr')
        tax_row_num = len(tax_row_list)-1
        last_tax_row = tax_row_list[tax_row_num]
        tax_col_list = last_tax_row.find_all('td')
        tax_col_num = len(tax_col_list)-1
 

        # Data Variables - Name & Address
        try:
            name = table_address.find('td', id ='webprop_name').text
            row.append(name)
        except:
            row.append(np.nan)   
    
        try:    
            address1 = table_address.find('td', id='webprop_mailaddress').text
            row.append(address1)
        except:
            row.append(np.nan)
        
        try:
            address2 = table_legal.find('td', id='webprop_situs').text
            address2 = address2[7:]
            row.append(address2)
        except:
            row.append(np.nan)
        
        #try:  
        #    address2_num = len(address2)-6
        #    street_no = address2[address2_num:]
        #    street_no = street_no.lstrip()
        #    row.append(street_no)
        #except:
        #    row.append(np.nan)

        #try:
        #    street = address2[:address2_num]
        #    street = street.rstrip()
        #    row.append(street)
        #except:
        #    row.append(np.nan)

        try:
            city = "MIDLAND"
            chars = address1.find("MIDLAND")

            if chars>0:
                row.append(city)
            else:
                row.append(np.nan)

            #city_num = len(address1)-10
            #city1 = address1[:city_num]
            #city_num2 = len(city1)-7
            #city = city1[city_num2:]
            #row.append(city)
        except:
            row.append(np.nan)
        
        state = 'TEXAS'
        row.append(state)
    
        #try:
        #    zip_code_num = len(address1)-6
        #    zip_code = address1[zip_code_num:]
        #    zip_code = zip_code.lstrip()
        #    row.append(zip_code)
        #except:
        #    row.append(np.nan)
        
        try:  
            full_address = address2+" "+city+", "+state
            row.append(full_address)
        except:
            row.append(np.nan)

        # Data Variables - Other
        try:
            imp0 = table_val.find('td', id='histimp0_yr').text
            row.append(imp0)
        except:
            row.append(np.nan)

        try:
            imp1 = table_val.find('td', id='histimp1_yr').text
            row.append(imp1)
        except:
            row.append(np.nan)
    
        try:
            imp2 = table_val.find('td', id='histimp2_yr').text
            row.append(imp2)
        except:
            row.append(np.nan)

        try:
            imp3 = table_val.find('td', id='histimp3_yr').text
            row.append(imp3)
        except:
            row.append(np.nan)
    
        try:
            imp4 = table_val.find('td', id='histimp4_yr').text
            row.append(imp4)
        except:
            row.append(np.nan)

        try:
            imp5 = table_val.find('td', id='histimp5_yr').text
            row.append(imp5)
        except:
            row.append(np.nan)
    
        try:
            land0 = table_val.find('td', id='histlnd0_yr').text
            row.append(land0)
        except:
            row.append(np.nan)
    
        try:
            land1 = table_val.find('td', id='histlnd1_yr').text
            row.append(land1)
        except:
            row.append(np.nan)
    
        try:
            land2 = table_val.find('td', id='histlnd2_yr').text
            row.append(land2)
        except:
            row.append(np.nan)
    
        try:
            land3 = table_val.find('td', id='histlnd3_yr').text
            row.append(land3)
        except:
            row.append(np.nan)
    
        try:
            land4 = table_val.find('td', id='histlnd4_yr').text
            row.append(land4)
        except:
            row.append(np.nan)

        try:
            land5 = table_val.find('td', id='histlnd5_yr').text
            row.append(land5)
        except:
            row.append(np.nan)

        try:    
            totval0 = table_val.find('td', id='histassd0_yr').text
            row.append(totval0)
        except:
            row.append(np.nan)
    
        try:
            totval1 = table_val.find('td', id='histassd1_yr').text
            row.append(totval1)
        except:
            row.append(np.nan)
    
        try:
            totval2 = table_val.find('td', id='histassd2_yr').text
            row.append(totval2)
        except:
            row.append(np.nan)
    
        try:
            totval3 = table_val.find('td', id='histassd3_yr').text
            row.append(totval3)
        except:
            row.append(np.nan)

        try:
            totval4 = table_val.find('td', id='histassd4_yr').text
            row.append(totval4)
        except:
            row.append(np.nan)
    
        try:
            totval5 = table_val.find('td', id='histassd5_yr').text
            row.append(totval5)
        except:
            row.append(np.nan)
    
        try:
            land_acre = acre_list[1].text
            row.append(land_acre)
        except:
            row.append(np.nan)

        try:
            land_sqft = acre_list[2].text
            row.append(land_sqft)
        except:
            row.append(np.nan)
    
        try:
            est_tax_val = tax_col_list[tax_col_num].text
            row.append(est_tax_val)
        except:
            row.append(np.nan)
    


    # For Loop Land Details
        #try:
        #    sqft_row_list = table_sqft.find_all('tr')
        #    sqft_row_num = len(sqft_row_list)

        for y in range(10):
            try:
                sqft_row_list = table_sqft.find_all('tr')
                select_row = sqft_row_list[x]
                code = select_row.find_all('td')[1].text
                desc = select_row.find_all('td')[2].text
                year = select_row.find_all('td')[3].text
                sqft = select_row.find_all('td')[4].text
                row.append(code)
                #row.append(desc)
                #row.append(year)
                row.append(sqft)
            except:
                row.append(np.nan)
                #row.append(np.nan)
                #row.append(np.nan)
                row.append(np.nan)

        rows.append(row)
        
    except:
        z=1
home_data = pd.DataFrame(data=rows,columns=header)
print("Loop Complete")

home_data.to_csv('home_data50.60.csv',index=False,header=True)
print('File_Saved')

Loop Complete
File_Saved